{% include base_path %}

{% if post.teaser_img %}
  {% assign teaser = post.teaser_img %}
{% elsif post.header.teaser %}
  {% assign teaser = post.header.teaser %}
{% else %}
  {% assign teaser = nil %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="pub-item">
  <article class="archive__item">
    <div class="pub-content">
      <h2 class="archive__item-title">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      </h2>
      <p class="pub-meta">Published in <em>{{ post.venue }}</em>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% if post.excerpt %}
        <div class="archive__item-excerpt">
          {{ post.excerpt_text | default: post.excerpt | markdownify | strip_html }}
        </div>
      {% endif %}
    </div>
    {% if teaser %}
      <a class="pub-thumb-link" href="{{ base_path }}{{ post.url }}">
        <img class="pub-thumb" src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: base_path }}{% endif %}" alt="Graphical Abstract">
      </a>
    {% endif %}
  </article>
</div>
